*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    background-color: rgb(44, 134, 244);
    padding: 0 6%;
    position: fixed;
}

.logo{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bolder;
}

header ul {
    display: flex; 
    gap: 40px;
}

header ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
}

#icon1{
    font-size: 20px;
    display: none;
}









.home-page{
    min-height: 100vh;
    width: 100%;
    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12%;
}

.home-photo{
    height: 550px;
    width: 450px;
}

.home-h1{
    font-size: 37px;
    font-weight: 800;
}

.home-p{
    font-size: 22px;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}







footer{
    background-color: black;
    height: 10vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.foot-word{
    color: rgb(255, 255, 255);
    font-size: 20px;
}












@media (max-width:770px) {
    #icon1{
        display: block;
    }

    header ul {
        position: absolute;
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        width: 50%;
        background-color: rgb(44, 134, 244);
        top: 100%;
        height: 100vh;
        padding: 0 2%;
        right: -100%;
        transition: all .6s;
    }

    .head.open{
        right: 0;
    }

    .foot-word{
        color: rgb(255, 255, 255);
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .home-page{
        flex-wrap: wrap;
    }
    .home-photo{
        height: 500px;
        width: 400px;
    }
    .home-h1{
        font-size: 34px;
        font-weight: 800;
    }
    
    .home-p{
        font-size: 16px;
    }
}


@media (max-width:400px) {
    footer{
        width: 100%;
    }
    .home-photo{
        height: 450px;
        width: 350px;
    }
    .home-h1{
        font-size: 28px;
        font-weight: 700;
    }
    .home-p{
        font-size: 14px;
    }
    .foot-word{
        color: rgb(255, 255, 255);
        font-size: 13px;
    }
}





















